<app-header />
<!-- The <main> tag is used to mark the main content area of a webpage, which should be unique to that page. -->
<main>
  <ul id="users">
    <!-- users, like before has to refer to an array, list in the component -->
    @for (user of users; track user.id) {
      <li><app-user
        [user] = "user"
        (select) = "onSelectUser($event)"
        />
      </li>
    }
  </ul>

  <!-- possibly do not want to render if nothing found -->
  <!--  <app-tasks [name]="selectedUser ? selectedUser.name : ''" />  -->
  @if (selectedUser) {
    <app-tasks [name]="selectedUser.name" />
  } @else {
    <P id="fallback">Select a user to see their tasks!</P>
  }
</main>
